body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 100px;
    color: white;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.control-todo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

input {
    width: 200px;
    border: 3px solid white;
    padding: 4px 4px 4px 4px;
}

p {
    color: greenyellow;
    font-size: larger;
    font-family: gabriola;
}

.add-todo-btn {
    width: 100px;
    padding: 7px 7px 7px 7px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn {
    width: 100px;
    padding: 7px 7px 7px 7px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
